node_modules
.next
dist
.env.local
.env*.local
kitchen-print.log
kitchen-relay/.kitchen-processed-events.json
*.log
.DS_Store

# Bun-only: do not use npm / yarn / pnpm lockfiles in this repo
package-lock.json
npm-shrinkwrap.json
yarn.lock
pnpm-lock.yaml
.vercel
docs/C4/.structurizr/1/images/Component-001-thumbnail-dark.png
docs/C4/.structurizr/1/images/Component-002-thumbnail-dark.png
docs/C4/.structurizr/1/images/Component-003-thumbnail-dark.png
docs/C4/.structurizr/1/images/Container-001-thumbnail-dark.png
docs/C4/.structurizr/1/images/Container-002-thumbnail-dark.png
docs/C4/.structurizr/1/images/Container-003-thumbnail-dark.png
docs/C4/.structurizr/1/images/Diagram1-thumbnail-dark.png
docs/C4/.structurizr/1/images/SystemContext-001-thumbnail-dark.png
docs/C4/.structurizr/1/images/SystemContext-002-thumbnail-dark.png
docs/C4/.structurizr/1/images/SystemContext-003-thumbnail-dark.png
docs/C4/.structurizr/1/images/SystemContext-004-thumbnail-dark.png
docs/C4/.structurizr/1/images/SystemContext-005-thumbnail-dark.png
docs/C4/.structurizr/1/images/SystemContext-006-thumbnail-dark.png
docs/C4/.structurizr/1/images/SystemLandscape-001-thumbnail-dark.png
docs/C4/.structurizr/1/images/SystemLandscape-001-thumbnail.png
docs/C4/.structurizr/1/images/thumbnail-dark.png
docs/C4/.structurizr/1/images/thumbnail.png
docs/C4/.structurizr/index/_ba_Lucene103_0.doc
docs/C4/.structurizr/index/_ba_Lucene103_0.pos
docs/C4/.structurizr/index/_ba_Lucene103_0.psm
docs/C4/.structurizr/index/_ba_Lucene103_0.tim
docs/C4/.structurizr/index/_ba_Lucene103_0.tip
docs/C4/.structurizr/index/_ba_Lucene103_0.tmd
docs/C4/.structurizr/index/_ba.fdm
docs/C4/.structurizr/index/_ba.fdt
docs/C4/.structurizr/index/_ba.fdx
docs/C4/.structurizr/index/_ba.fnm
docs/C4/.structurizr/index/_ba.nvd
docs/C4/.structurizr/index/_ba.nvm
docs/C4/.structurizr/index/_ba.si
docs/C4/.structurizr/index/_bb.cfe
docs/C4/.structurizr/index/_bb.cfs
docs/C4/.structurizr/index/_bb.si
docs/C4/.structurizr/index/_bc.cfe
docs/C4/.structurizr/index/_bc.cfs
docs/C4/.structurizr/index/_bc.si
docs/C4/.structurizr/index/segments_a9
docs/C4/.structurizr/index/write.lock
